{% load static %}





 <link rel="stylesheet" type="text/css" href="{% static 'index/style.css' %}" /> 




<meta name="viewport" content="width=device-width, initial-scale=1.0">



    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">MEASURING AND CONTROL SYSTEMS MANIFACTURING</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'index' %}">Menu</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'about_page' %}">Company</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'products_page' %}">Products</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'careers' %}">Careers</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'newsnevents_page' %}">News&Events</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'contact_page' %}">Contact</a></li> 

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Languages</a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Turkish</a></li>
                                <li><a class="dropdown-item" href="#">German</a></li>
                                <li><a class="dropdown-item" href="#">English</a></li>
                                <li><a class="dropdown-item" href="#">Italian</a></li>
                                <li><a class="dropdown-item" href="#">Polish</a></li>
                              <li><hr class="dropdown-divider" /></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!--
    <div class="container-contact-page">
    <form onsubmit="sendEmail(); reset(); return false; ">
        <h3>GET IN TOUCH WITH US!</h3>
        <input type="text" id="name" placeholder="Your Name" required>
        <input type="email" id="email" placeholder="Email id" required>
        <input type="text" id="phone" placeholder="Phone No." required>
        <textarea id="message" rows="4" placeholder="Reach us for further information about our products."></textarea>
        <button type="submit">SEND</button>

    </form>


<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12044.499649022328!2d28.7119864!3d41.0006391!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14caa0fb16d7bc9d%3A0x415f5b54bf6d0006!2sKAO%20Elektronik%20ve%20Bilgisayar%20San.Tic.Ltd.%C5%9Eti!5e0!3m2!1sen!2spl!4v1703979517447!5m2!1sen!2spl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
</iframe>

</div>
-->

<!--
<script src="https://smtpjs.com/v3/smtp.js"></script>

<script>
    function sendEmail(){
        Email.send({
        Host : "smtp.elasticmail.com",
        Username : "kaan.karaalioglu@kaometrology.com",
        Password : "162534Kaan*",
        To : 'karaaliogluseyit@gmail.com',
        From : document.getElementById("element").value,
        Subject : "This is the subject",
        Body : "And this is the body"
}).then(
  message => alert(message)
);
}
    
</script>


-->


<div class="container-contact-page">
      <script src="https://www.google.com/recaptcha/api.js" async defer></script>
<form method="POST" action="{% url 'contact_page' %}">
 {% csrf_token %} 
 
<h3 class="get_in_touch">GET IN TOUCH WITH US</h3>

<div class="name-fields">
<input type="text_name" name="first_name" placeholder="First Name" required>
 <br>
 <br>

<input type="text_surname" name="surname" placeholder="Last Name" required>
 <br>
 <br>
</div>

<div class="email-title">
<input type="text" name="name" placeholder="Email Title" required>
 <br>
 <br>
</div>

<div class="business-email">
<input type="email" name="email" placeholder="Business Email Address*" required>
<br>
<br>
</div>

<div class="message-us">
<textarea name="message" placeholder="Reach us for further information about our products." required></textarea> 
<br>
<br>
</div>

<div class="g-recaptcha" data-sitekey="6LetokcpAAAAAJme6hGTF17WM32BmBfW0tYEI-K0"></div>

{{ form.captcha }}

<button class="btn_send btn-primary mt-2" type="submit">send</button>
<br>
<br>


 </form>

</div>