{% load static %}

 <link rel="stylesheet" type="text/css" href="{% static 'about/style_alternative.css' %}" /> 



<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!--

<div id="company_logo">

  <img src = "{% static 'products/kao_logo.png'%}" alt="moving-image">
</div>


<ul>
        <li><a href="{% url 'index' %}" class="shake-on-click">Menu</a></li>    
        <li><a href="{% url 'products_page' %}" class="shake-on-click">Products</a></li>
        <li><a href="{% url 'contact_page' %}" class="shake-on-click">Contact</a></li>

</ul>

-->


<!--
<div class="products_text">
    Dimensional measurement

</div>
-->

<!--
<div class="rounded-rectangle">
    <div class="rectangle-text">
      <p>
         Pneumatic (Air-based) measurement is a non-contact, precise comparative method. It is a dimensional measurement system that provides advantages to users. With fast workflow, high productivity, and short setup time, it is an unparalleled measurement system. It is ideal for measuring toleranced dimensions. When measuring tolerances smaller than 100um, resolutions as small as 0.05um can be achieved. The non-contact feature makes air measurement particularly useful for soft, honed, thin-walled, or other materials requiring precise control.

One of the key advantages of pneumatic measurement is its ease of use. The process provides accurate results even when operated by unskilled workers. The operation is as simple as presenting a tool to a workpiece and observing a reading, much like giving a presentation. The operation of the air gauge is also fast. Multiple channels can be scanned at a glance, reducing time and fatigue. Pneumatic gauging is economical; once the basic system is purchased, additional tools can be relatively inexpensive.

It is used for a wide variety of applications. Pneumatic gauges are effective in measuring all common types of dimensions and are particularly suitable for measuring and matching dimensional relationships. Most air measurement systems operate at low air pressures and can clean workpieces from contaminants such as abrasives, eliminating the need for separate cleaning in most processes. Additionally, due to the absence of moving parts in the pneumatic gauge assembly, it is nearly immune to contamination. The pneumatic gauge offers a wide range of options for both single and multiple measurement applications. When repairs are necessary, pneumatic tools are among the easiest to repair.
      
      </p>
    </div>
  </div>
-->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">MEASURING AND CONTROL SYSTEMS MANIFACTURING</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'index' %}">Menu</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'about_page' %}">Company</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'products_page' %}">Products</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'careers' %}">Careers</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'newsnevents_page' %}">News&Events</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'contact_page' %}">Contact</a></li>   
                      
                      
                      <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Languages</a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Turkish</a></li>
                                <li><a class="dropdown-item" href="#">German</a></li>
                                <li><a class="dropdown-item" href="#">English</a></li>
                                <li><a class="dropdown-item" href="#">Italian</a></li>
                                <li><a class="dropdown-item" href="#">Polish</a></li>
                              <li><hr class="dropdown-divider" /></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

<div class="custom-shape">
  <div class="horizontal-line"></div>
  <div class="positive-slope-line"></div>
  <div class="end-horizontal-line"></div>
</div>

<div id="company_logo">
    <img src="{% static 'index/kao_logo.png' %}" class="logo-img">
</div>  

