 #movingImage 
 {
      position: absolute;
      top: 400px;
      margin-left: 50px;
      transform: translate(0, -50%);
      width:350px;
      height: auto;
      z-index: 5;

    }

    #movingImage img {
      width: 100%; /* Make the image fill the container */
      height: auto;
      transition: width 2s, height 4s;
      transition-timing-function: ease-out;
    }

    #movingImage:hover img
    {
      width: 550px;
      transition-timing-function: ease-in;
      transition: width 2s, height 4s;
    }
/*---------------------second image coming ------------------ */ 
 #KAOXImage{
      position: absolute;
      top: 400px;
      margin-left: 450px;
      transform: translate(0, -50%);
      width:350px;
      height: auto;
      transition: margin-left 2s ease-out; /* Transition for margin-left */
      z-index: 4;
    }

    #KAOXImage img {
      width: 100%; /* Make the image fill the container */
      height: auto;
      transition: width 2s, height 4s;
      transition-timing-function: ease-out;

    }

    #KAOXImage:hover img
    {
      width: 550px;
      transition-timing-function: ease-in;
      transition: width 2s, height 4s;
    }
/*-------------------------third image coming ----------------- * /
*/

#KA_100{
      position: absolute;
      top: 650px;
      margin-left: 50px;
      transform: translate(0, -50%);
      width:350px;
      height: auto;
      z-index: 4;
    }

    #KA_100 img {
      width: 100%; 
      height: auto;
      transition: width 2s, height 4s;
      transition-timing-function: ease-out;

    }

    #KA_100:hover img
    {
      width: 550px;
      transition-timing-function: ease-in;
      transition: width 2s, height 4s;
    }

/* --------------- fourth image coming ------------------ */ 
#KA_200{
    position: absolute;
    top: 650px;
    margin-left: 450px;
    transform: translate(0, -50%);
    width:350px;
    height: auto;
    z-index: 3;
  }

  #KA_200 img {
    width: 100%; 
    height: auto;
    transition: width 2s, height 4s;
    transition-timing-function: ease-out;

  }

  #KA_200:hover img
  {
    width: 550px;
    transition-timing-function: ease-in;
    transition: width 2s, height 4s;
  }

/* -------------------Fifth Image Coming -------------- */ 
#KX_100{
    position: absolute;
    top: 400px;
    margin-left: 850px;
    transform: translate(0, -50%);
    width:350px;
    height: auto;
    z-index: 3;

  }

  #KX_100 img {
    width: 100%; 
    height: auto;
    transition: width 2s, height 4s;
    transition-timing-function: ease-out;

  }

  #KX_100:hover img
  {
    width: 550px;
    transition-timing-function: ease-in;
    transition: width 2s, height 4s;
  }

/* --------------- sixth image coming ----------------- */ 
#KD_200{
    position: absolute;
    top: 650px;
    margin-left: 850px;
    transform: translate(0, -50%);
    width:350px;
    height: auto;
    z-index: 2;

  }

  #KD_200 img {
    width: 100%; 
    height: auto;
    transition: width 2s, height 4s;
    transition-timing-function: ease-out;

  }

  #KD_200:hover img
  {
    width: 550px;
    transition-timing-function: ease-in;
    transition: width 2s, height 4s;
  }

 /*-------------------seventh image coming here ----------------- */ 

#KF_60
{ position: absolute;
    top: 400px;
    margin-left: 1300px;
    transform: translate(0, -50%);
    width:350px;
    height: auto;
    z-index: 2;

  }

  #KF_60 img {
    width: 100%; 
    height: auto;
    transition: width 2s, height 4s;
    transition-timing-function: ease-out;

  }

  #KF_60:hover img
  {
    width: 550px;
    transition-timing-function: ease-in;
    transition: width 2s, height 4s;
  }





      /*--------------------------------------*/








/*
// i don't use this part anymore 
    .products_text
    {
        transition: font-size 0.9s;
        font-weight:800; 
        margin-top: 100px;
        margin-left: 40%;
        color: black;
        
    }

    .products_text:hover
    {
        transition-timing-function: ease-out;
        transition: fo 5s height 7s;
        font-size: 2em;
    }

 */

    ul
     {
        position: relative;
        list-style-type: none;
        margin: -55px 110;
        padding: 0;
        overflow: hidden;
        float: left;
        display: block;
        opacity: 0.95;
        z-index: 3;
    }
    
    li 
    {
        float: left;
        display: block;
    }

    li a 
    {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        background-color: gray;
        margin-top: 10;
        opacity: 0.95;
    }

    

li a:hover 
    {
      background-color: #111;
      transform: translateY(-6px); /* Move the list item up by 5 pixels, adjust as needed */
      transition: transform 0.7s ease; /* Add a smooth transition effect */

    }


    #company_logo
    {
        left: 0;
        top: 0;

    }


    .Leak_text
    {
        transition: font-size 0.9s;
        margin-top: 45%;
        margin-left:  40%;
        font-weight: 800;
        color: black;


    }

    .Leak_text:hover
    {
        transition-timing-function: ease-out;
        transition: fo 5s height 7s;
        font-size: 2em;

    }

/*
   .rounded-rectangle {
      width: 1700px; 
      padding: 20px; 
      border: 2px solid #000; 
      border-radius: 15px; 
      backdrop-filter: blur(50px);
    }

    .rectangle-text {
      text-align: center;
    } 
*/

/*
    .hidden-text {
      display: none;
      margin-top:50px;
    }

    .trigger-text:hover + .hidden-text {
      display: block;
    }

    .trigger-text
    {
      margin-top: -800px;
      }
*/

.rounded-rectangle {
      width: 800px; /* Adjust the width as needed */
      height: 460px; /* Adjust the height as needed */
      position: absolute; /* Use absolute positioning */
      top: 280px; /* Adjust the top position as needed */
      left: 25px; /* Adjust the left position as needed */
      border-radius: 15px; /* Adjust the border-radius for rounded corners */
      background-color: #f0f0f0; /* Set the background color as needed */
      border: 2px solid #000; /* Optional: Add a border for better visibility */
      opacity: 0.2;
      z-index: 1;
    }

    .rounded-rectangle-2
    {
      width: 400px; /* Adjust the width as needed */
      height: 460px; /* Adjust the height as needed */
      position: absolute; /* Use absolute positioning */
      top: 280px; /* Adjust the top position as needed */
      left: 850px; /* Adjust the left position as needed */
      border-radius: 15px; /* Adjust the border-radius for rounded corners */
      background-color: #f0f0f0; /* Set the background color as needed */
      border: 2px solid #000; /* Optional: Add a border for better visibility */
      opacity: 0.2;
      z-index: 1;
    }

.rounded-rectangle-3
    {
      width: 400px; /* Adjust the width as needed */
      height: 460px; /* Adjust the height as needed */
      position: absolute; /* Use absolute positioning */
      top: 280px; /* Adjust the top position as needed */
      left: 1275px; /* Adjust the left position as needed */
      border-radius: 15px; /* Adjust the border-radius for rounded corners */
      background-color: #f0f0f0; /* Set the background color as needed */
      border: 2px solid #000; /* Optional: Add a border for better visibility */
      opacity: 0.2;
      z-index: 1;
    }


#click-icon
{
  left: 75px;
  top: 325px;
  position: absolute;
  z-index: 6;
  opacity: 0.7;
}

#click-icon-2
{
  left: 425px;
  top: 325px;
  position: absolute;
  z-index: 4;
  opacity: 0.7;
}

#click-icon-3
{
  left: 860px;
  top: 325px;
  position: absolute;
  z-index: 3;
  opacity: 0.7;
}

#click-icon-4
{
  left: 1285px;
  top: 325px;
  position: absolute;
  z-index: 2;
  opacity: 0.7;
}


#click-icon-5
{
  left: 75px;
  top: 525px;
  position: absolute;
  z-index: 7;
  opacity: 0.7;
}


#click-icon-6
{
  left: 425px;
  top: 525px;
  position: absolute;
  z-index: 2;
  opacity: 0.7;
}


#click-icon-7
{
  left: 860px;
  top: 525px;
  position: absolute;
  z-index: 2;
  opacity: 0.7;
}





    /* texts will come here */ 
.text1
{
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.text1:hover
{
  color: #ff5733; 
  transform: scale(1.1);
}


@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.blinking-text-callibrators {
  animation: blink 1s infinite; /* Adjust the animation duration as needed */
  position: absolute;
  top: 235px;
  left: 1400px;
  color: red;
  font-weight: bold;
 }

 .blinking-text-airgages
 {
  animation: blink 1s infinite; /* Adjust the animation duration as needed */
  position: absolute;
  top: 235px;
  left: 400px;
  color: red;
  font-weight: bold;

 }

 .blinking-text-leaktesting
 {
  animation: blink 1s infinite; /* Adjust the animation duration as needed */
  position: absolute;
  top: 235px;
  left: 950px;
  color: red;
  font-weight: bold;
 }