{% load static %}




<link rel="stylesheet" type="text/css" href="{% static 'index/style.css' %}" /> 


<!-- <img src = "{% static 'index/measuring_1_alternative.png' %}"> -->


<!-- main entrance -->
<!--- <img class="custom-image" src="{% static 'index/measuring_1_alternative.png' %}" alt="Description of the image"> -->



<!-- i will not use this linkedin logo for a long time
  <a href="https://www.linkedin.com/company/kao-metrology/" target="_blank" class="linkedin-logo">
        <img src="{% static 'index/linkedin_logo.png' %}" alt="LinkedIn Logo">
    </a>
  -->





<!--

<ul>
        <li><a href="{% url 'about_page' %}" class="shake-on-click">About</a></li>    
        <li><a href="{% url 'products_page' %}" class="shake-on-click">Products</a></li>
        <li><a href="{% url 'events_page' %}" class="shake-on-click">Events</a></li>
        <li><a href="{% url 'contact_page' %}" class="shake-on-click">Contact</a></li>

</ul>

-->

<!--

<div class="dropdown">
  <button class="dropbtn">Languages</button>
  <div class="dropdown-content">
    <a href="#">
      <img src="{% static 'index/flag_eng.png'%}" alt="English">
      <span>
        English
      </span>
    </a>
  <a href="#">
      <img src="{% static 'index/flag_de.png'%}" alt="German">
      <span>
        Deutsch
      </span>
    </a>
 <a href="#">
      <img src="{% static 'index/flag_tur.png'%}" alt="English">
      <span>
       Turkce 
      </span>
    </a>
  
 

  
  </div>
</div>

-->


<!--
<iframe src="https://www.linkedin.com/embed/feed/update/urn:li:share:7019257635514294272" height="454" width="504" frameborder="0" allowfullscreen="" title="Embedded post"></iframe>
-->



<!-- 
<video id="trial_video_background" autoplay loop muted>

    <source src="{% static 'index/trial_video_in_background.mp4'%}" type="video/mp4">

</video>

this is a waste of time now 
--> 


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Kao-Metrology</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">MEASURING AND CONTROL SYSTEMS MANIFACTURING</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'about_page' %}">Company</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'products_page' %}">Products</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'products_page' %}">Careers</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'products_page' %}">News&Events</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'products_page' %}">Contact</a></li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Languages</a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Turkish</a></li>
                                <li><a class="dropdown-item" href="#">German</a></li>
                                <li><a class="dropdown-item" href="#">English</a></li>
                                <li><a class="dropdown-item" href="#">Italian</a></li>
                                <li><a class="dropdown-item" href="#">Polish</a></li>
                              <li><hr class="dropdown-divider" /></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
<hr/>

<div class="custom-shape">
  <div class="horizontal-line"></div>
  <div class="positive-slope-line"></div>
  <div class="end-horizontal-line"></div>
</div>




        <img src="{% static 'index/kao_logo.png' %}" class="logo-img">


            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="25">
      <img class="d-block w-100" src="{% static 'index/measuring_1_alternative.png' %}" alt="First slide">
    </div>


    <div class="carousel-item" data-bs-interval="25">
    <a href="{% url 'products_page' %}">
      <img class="d-block w-75 modular_image"  src="{% static 'index/modular_devices.jpg' %}" alt="Second slide">
       <div class="airgages">
          <h1>AirGages</h1>
       </div>
       </a>
    </div>


    <div class="carousel-item" data-bs-interval="25">
    <a href="{% url 'products_page' %}">
      <img class="d-block w-75" src="{% static 'index/leaktesting.gif' %}" alt="Third slide">
      <h1>Leak-Testing Devices</h1>
      </a>
    </div>

<div class="carousel-item" data-bs-interval="25">
    <a href="{% url 'products_page' %}">
      <img class="callibrator-image"  src="{% static 'index/KFC60.JPG' %}" alt="Fourth slide">
       <div class="Callibrators">
          <h1>Flow Callibrators</h1>
       </div>
       </a>
    </div>


    
<div class="carousel-item" data-bs-interval="25">
    <a href="{% url 'products_page' %}">
      <img class="pressure-scanners"  src="{% static 'index/scanner_2.JPG' %}" alt="Fifth slide">
       <div class="Pressure Scanners">
          <h1>Pressure Scanners</h1>
       </div>
    </div>
  </a>



<div class="carousel-item" data-bs-interval="25">
  
    <a href="{% url 'products_page' %}">
      <img class="modular_metrology"  src="{% static 'index/modular_metrology.png' %}" alt="Sixth slide">
       <div class="Modular Metrology">
          <h1>Modular Metrology</h1>
       </div>
       </a>
    </div>


<div class="carousel-item" data-bs-interval="25">
      <img class="probe-image"  src="{% static 'index/probes_new.jpg' %}" alt="Seventh slide">
       <div class="Probes">
          <h1>Probes</h1>
       </div>
    </div>




    
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only"></span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only"></span>
  </a>
</div>

<figure class="figure">
  <img src="{% static 'index/probes_new.jpg' %}" class="figure-img img-fluid rounded" alt="...">
  <figcaption class="figure-caption">A caption for the above image.</figcaption>
</figure>

        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>

