{% load static %}

 <link rel="stylesheet" type="text/css" href="{% static 'callibrators/style_alternative.css' %}" /> 

<meta name="viewport" content="width=device-width, initial-scale=1.0">


    <nav class="navbar-eski  navbar-nav-eski navbar-brand-eski navbar-expand-lg navbar-dark-eski bg-dark-eski">
            <div class="container">
                <a class="navbar-brand-eski">MEASURING AND CONTROL SYSTEMS MANIFACTURING</a>
                <button class="navbar-toggler-eski" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse-eski" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'about_page' %}">Menu</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'products_page' %}">Products</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'newsnevents_page' %}">News&Events</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'contact_page' %}">Contact</a></li>   
                      
                      
                      <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Languages</a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Turkish</a></li>
                                <li><a class="dropdown-item" href="#">German</a></li>
                                <li><a class="dropdown-item" href="#">English</a></li>
                                <li><a class="dropdown-item" href="#">Italian</a></li>
                                <li><a class="dropdown-item" href="#">Polish</a></li>
                              <li><hr class="dropdown-divider" /></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

<div id="company_logo">
    <img src="{% static 'about/kao_logo.png' %}" class="logo-img">
</div>  


    <img src="{% static 'about/Cursor.png' %}"  class="cursor-1" width="75" height="75">





        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


   








  <section class="header3 cid-ryh9am114g" id="content01-3d">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-lg-6 py-5 m-auto">
          <div class="media-content">
            <h1 class="mbr-section-title align-center mbr-bold mbr-white pb-3 mbr-fonts-style display-2">
              Flow Callibration 
            </h1>
            <div class="mbr-section-text mbr-white pb-3 ">
              <p class="mbr-text align-center align-center mbr-fonts-style display-7">
              Flow calibration in metrology involves the process of measuring and adjusting the performance of flow measurement devices to ensure their accuracy and reliability.
               Flow measurement is crucial in various industries such as manufacturing, energy, environmental monitoring, and healthcare. 
               Flow calibration is performed to verify that flow meters and instruments accurately measure the rate of fluid flow, whether it's liquid or gas. 
                 </p>
            </div>
            <div class="mbr-section-btn align-right">
              <a class="btn btn-md btn-white-outline display-4" a href= "{% url 'products_page' %}"  >
                View More
              </a>
            </div>
          </div>



        </div>

    </div>
    </div>
  </section>



    <section class="cid-ryhbKc0wrA" id="image03-3p">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4">
          <div class="image-block">
            <img src="{% static 'about/KFC60.JPG' %}">
            <figcaption class="mbr-figure-caption mbr-figure-caption-over">
              <div class="wrap">
                <h4 class="pb-2 mbr-white mbr-bold align-center mbr-fonts-style display-2"> 
                  KFC60
                 </h4>
                <p class="pb-2 mbr-white align-center mbr-fonts-style display-2">
                </p>
              </div>
            </figcaption>
          </div>

          
        </div>

        <div class="col-lg-6 mbr-bold align-center mbr-text col-lg-4 py-5">
          <h4> - The ideal pneumatic measurement device for countertop use.</h4>
            <br>
          <h4> - It works with all known probes and is easy to use. </h4>
             <br>
          <h4> - The membrane keypad provides easy access to settings.  </h4>
            <br>
          <h4> - Measurement resolution is 0.1um with a repeatability of 0.5um.</h4>
            <br>
          <h4> -  It features a 7-inch color graphical display. </h4>
          <br>
          <h4> -  Internal memory stores the last 10,000 records. </h4>
          <br>
           <h4> -  Data transfer is possible via wireless Ethernet connection.   </h4>


                <a class="btn btn-md btn-black display-4" a href= "{% static 'about/KFC60_tur.pdf'%}" download="KAX100_tur.pdf">
                PDF
               </a>

       

        </div>


     
         

        </div>

      
    </div>
  </section>

  
 














 <section class="header3 cid-ryh9am114g" id="content01-3d">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-lg-6 py-5 m-auto">
          <div class="media-content">
            <h1 class="mbr-section-title align-center mbr-bold mbr-white pb-3 mbr-fonts-style display-2">
              Pressure Scanning 
            </h1>
      <h1 class="mbr-section-title align-center mbr-bold mbr-white pb-3 mbr-fonts-style display-4">
           </h1>
            <div class="mbr-section-text mbr-white pb-3 ">
              <p class="mbr-text align-center align-center mbr-fonts-style display-7">
                Pressure scanning involves measuring and analyzing pressure variations in systems or devices for purposes such as performance evaluation, quality control, troubleshooting, process optimization, safety monitoring, research and development, and data analysis.
                 It is widely used in industries where pressure is a critical factor, providing insights into system behavior and ensuring operational efficiency and safety.
          </p>

        <p class="mbr-text align-center align-center mbr-fonts-style display-7"> 
        We offer the best products and the services  to our customers and the distributors all around the world.
                </p>




            </div>
            <div class="mbr-section-btn align-center">
              <a class="btn btn-md btn-white-outline display-4" a href= "{% url 'products_page' %}"  >
                GET A QUOTE 
               </a>
            </div>
          </div>


        </div>  
      </div>
    </div>
  </section>


  <section class="cid-ryhbKc0wrA" id="image03-3p">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4">
          <div class="image-block">
            <img src="{% static 'about/scanner_2.JPG' %}">
            <figcaption class="mbr-figure-caption mbr-figure-caption-over">
              <div class="wrap">
                <h4 class="pb-2 mbr-white mbr-bold align-center mbr-fonts-style display-2"> 
                </h4>
                <p class="pb-2 mbr-white align-center mbr-fonts-style display-2">

                </p>
              </div>
            </figcaption>
          </div>

        </div>
             <div class="col-lg-4">
          <div class="image-block">
            <img src="{% static 'about/scanner_1.JPG' %}">
            <figcaption class="mbr-figure-caption mbr-figure-caption-over">
              <div class="wrap">
                <h4 class="pb-2 mbr-white mbr-bold align-center mbr-fonts-style display-2"> 
                </h4>
                <p class="pb-2 mbr-white align-center mbr-fonts-style display-2">

                </p>
              </div>
            </figcaption>
          </div>

        </div>


             <div class="col-lg-4">
          <div class="image-block">
            <img src="{% static 'about/scanner_4.JPG' %}">
            <figcaption class="mbr-figure-caption mbr-figure-caption-over">
              <div class="wrap">
                <h4 class="pb-2 mbr-white mbr-bold align-center mbr-fonts-style display-2"> 
                </h4>
                <p class="pb-2 mbr-white align-center mbr-fonts-style display-2">

                </p>
              </div>
            </figcaption>
          </div>

        </div>




             <!--              
           <a class="btn btn-md btn-black display-4" a href= "{% static 'about/KD300_tur.pdf'%}" download="KD300.pdf">
            PDF
               </a>
              -->

        </div>
    
    </div>
  </section>






  <section class="header3 cid-ryh9am114g" id="content01-3d">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-lg-6 py-5 m-auto">
          <div class="media-content">
            <h1 class="mbr-section-title align-center mbr-bold mbr-white pb-3 mbr-fonts-style display-2">
              Are you interested ? 
            </h1>
      <h1 class="mbr-section-title align-center mbr-bold mbr-white pb-3 mbr-fonts-style display-2">
              Contact Us 
            </h1>
            <div class="mbr-section-text mbr-white pb-3 ">
              <p class="mbr-text align-center align-center mbr-fonts-style display-7">
              </p>
            </div>
            <div class="mbr-section-btn align-center">
              <a class="btn btn-md btn-white-outline display-4" a href= "{% url 'contact_page' %}"  >
                CONTACT 
              </a>
            </div>
          </div>


        </div>  
      </div>
    </div>
  </section>































   





  <section class="header8 cid-ryhaeS2jHO" id="video01-3k">
    <div class="mbr-overlay style-i9wgX" id="style-i9wgX">
    </div>
    <div class="container align-center">
      <div class="row justify-content-md-center">
        <div class="mbr-white col-md-10">
          <h1 class="mbr-section-title align-center py-2 mbr-fonts-style display-1">
            Watch Video
          </h1>
          <div class="mbr-media show-modal align-center py-2" data-modal=".modalWindow">
            <div class="icon-wrap">
              <span class="mbr-iconfont mobi-mbri-play mobi-mbri">
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="modalWindow style-IORtK" id="style-IORtK">
        <div class="modalWindow-container">
          <div class="modalWindow-video-container">
            <div class="modalWindow-video">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/hIFjIKWcKsI?si=ySYsoGxHFqkhtxfm&amp;enablejsapi=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen="1"></iframe>
            </div>
            <a class="close" role="button" data-dismiss="modal">
              <span aria-hidden="true" class="mbri-close mbr-iconfont closeModal">
              </span>
              <span class="sr-only">
                Close
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="map1 cid-ryha8paJop" id="map01-3h">
    <div class="google-map">
      <iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12044.499649022328!2d28.7119864!3d41.0006391!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14caa0fb16d7bc9d%3A0x415f5b54bf6d0006!2sKAO%20Elektronik%20ve%20Bilgisayar%20San.Tic.Ltd.%C5%9Eti!5e0!3m2!1sen!2spl!4v1703979517447!5m2!1sen!2spl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> allowfullscreen="" data-gtm-yt-inspected-19="true" data-gtm-yt-inspected-27="true">
      </iframe>
    </div>
  </section>
  <section class="header3 cid-ryha7dvnCF" id="social01-3g">
    <div class="container">
      <div class="mbr-section-btn align-center pb-3">
        
        
        
        <img src="{% static 'about/turkiye-seeklogo.jpg' %}" alt="turkiyelogo" style="width:200px; height:200px;">
        <br>
         <a href="https://www.linkedin.com/company/kao-metrology/">
            <img src="{% static 'about/LI-In-Bug.png' %}" alt="linked-in logo" style="width:50px; height:50px;">
        </a>
      
        <a href="https://www.youtube.com/channel/UCO493TfIW7Lj_l8v8woqg8Q">
            <img src="{% static 'about/youtube_logo_new.png' %}" alt="youtube logo" style="width:50px; height:50px;">
        </a>
        
        <a href="https://www.facebook.com/profile.php?id=61554340107729">
            <img src="{% static 'about/facebook_new_logo.png' %}" alt="facebook logo" style="width:50px; height:50px;">
        </a>




      </div>
      
      </div>
    
  </section>
  <section once="footers" class="cid-ryha9vUPBi" id="footer01-3j">
    <div class="container">
      <div class="media-container-row align-center mbr-white">
        <div class="col-12">
          <p class="mbr-text mb-0 mbr-fonts-style display-7">
            © Copyright 2024 KAO Metrology  - All Rights Reserved
          </p>
        </div>
      </div>
    </div>
  </section>
  <!--
<iframe allow="join-ad-interest-group" data-tagging-id="AW-1071863997" data-load-time="1704746206457" height="0" width="0" src="https://td.doubleclick.net/td/rul/1071863997?random=1704746206455&amp;cv=11&amp;fst=1704746206455&amp;fmt=3&amp;bg=ffffff&amp;guid=ON&amp;async=1&amp;gtm=45He4130v71321738&amp;gcd=11l1l1l1l1&amp;dma_cps=sypham&amp;dma=1&amp;u_w=1920&amp;u_h=1080&amp;url=https%3A%2F%2Fmobirise.com%2Fextensions%2Fphotom4%2Fphotoshopdemo%2F&amp;hn=www.googleadservices.com&amp;frm=0&amp;tiba=Photography%20Shop%20Demo%20-%20PhotoM4&amp;fledge=1&amp;uaa=x86&amp;uab=64&amp;uafvl=Google%2520Chrome%3B119.0.6045.105%7CChromium%3B119.0.6045.105%7CNot%253FA_Brand%3B24.0.0.0&amp;uamb=0&amp;uap=Linux&amp;uapv=6.2.0&amp;uaw=0" data-gtm-yt-inspected-19="true" data-gtm-yt-inspected-27="true" id="style-yjkdi" class="style-yjkdi">
  </iframe>
-->
  <noscript>
    <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1123285727682531&amp;ev=PageView&amp;noscript=1">
  </noscript>
 
